<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-bramd">
        <img src="logo.svg" alt="logo">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="./admin/productos">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./admin/productos">Compras</a>
            </li>
        </ul>

        <div class="nav-item">
            <a href="./login" class="nav-link">Sign in</a>
        </div>
        <div class="nav-item">
            <span class="navbar-brand mb-0 h1">or</span>
        </div>
        <div class="nav-item">
            <a href="./registro" class="nav-link btn btn-primary">Sign Up</a>
        </div>
    </div>
</nav>
<section id="categorias">

</section>

<style>
    section {
        height: 500px;
        background: url('https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>